/** Charm – heading font */
@font-face {
  font-family: "Charm";
  font-weight: 400;
  src:  url("/font/charm/Charm-Regular.woff2")  format("woff2"),
        url("/font/charm/Charm-Regular.woff")   format("woff");
}
@font-face {
  font-family: "Charm";
  font-weight: 700;
  src:  url("/font/charm/Charm-Bold.woff2")   format("woff2"),
        url("/font/charm/Charm-Bold.woff")    format("woff");
}

/** Fork awesome – Icon font */
@font-face {
  font-family: "Fork Awesome";
  src:  url("/font/fork-awesome/forkawesome-webfont.woff2") format("woff2"),
        url("/font/fork-awesome/forkawesome-webfont.woff")  format("woff");
}
