html {
    max-width: 100vw;
    min-height: 100vh;

    margin: 0;
    border-width: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    max-width: 70rem;
    min-height: 100vh;

    margin: 0 auto;
    border-width: 0;
    padding: 1rem;

    display: flex;
    flex-flow: column nowrap;
}
body > header {
    display: flex;
    align-items: stretch;
}
body > header > #logo > img {
    flex: 1;
    max-height: 5rem;
}
body > header > #navigation-menu {
    flex: 2;
    text-align: center;
    vertical-align: middle;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}
#navigation-menu a {
  margin: auto;
  padding: 0.5em;
  font-size: 1.2em;
}

body > main {
    flex: 1;
}

body > footer > #social-links {
    text-align: center;
}

/* Index page */
#index-grid {
  display: grid;
  grid: auto-flow / repeat(3, 1fr);
  place-items: center;
}
#grid-logo {
  grid-area: 2 / 2 / 3 / 3;
}
