/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Charm", cursive;
  line-height: 1.25;
  font-weight: bold;
  font-size-adjust: 0.465;
}

/** Special link icons */
.social-icon::before {
  font-family: "Fork Awesome";
  margin-inline-end: 0.2em;
}
.icon-facebook::before { content: "\F082"; }
.icon-instagram::before { content: "\F16D"; }
