{% extends "page.html" %}

{# Format span of two dates as is customary in Czech. #}
{% macro datespan(start, end) -%}
{% set startformat = shortdatefmt(start, end) %}
{% if startformat %}
<time datetime="{{ start.isoformat() }}">{{ start|dateformat(startformat) }}</time> –
{% endif %}
<time datetime="{{ end.isoformat() }}">{{ end|dateformat("long") }}</time>
{%- endmacro %}

{% block content %}
{{ this.introduction }}

{% for year, events in this.events.blocks|sort(attribute="start")|groupby("start.year") %}
  <h2>{{ year }}</h2>
  <dl>
  {% for event in events %}
    <dt>
      {{ datespan(event.start, event.end) }}{{ ", {!s}".format(event.location) if event.location }}: {{ event.summary }}
    </dt>
    <dd>
      {{ event.description }}
    </dd>
  {% endfor %}
  </dl>
{% endfor %}
{% endblock content %}
{# vim:set filetype=html.jinja2: #}
