{# Contact page with special markup #}
{% extends "page.html" %}

{% block content %}
<table id="contact-table">
  <tbody>
    <tr><th class="row-head">E-Mail:</th><td><a href="mailto:{{ bag('contact.email') }}">{{ bag('contact.email') }}</a></td></tr>
    <tr><th class="row-head">Telefon:</th><td><a href="tel:{{ bag('contact.phone') }}">{{ bag('contact.phone')|replace('-', ' ') }}</a></td></tr>
    {% for network, handle in bag('contact.social').items() %}
    <tr><th class="row-head">{{ network }}:</th><td>{{ handle|urlize }}</td></tr>
    {% endfor %}
  </tbody>
</table>

{{ super() }}
{% endblock content %}
{# vim:set filetype=html.jinja2 #}
