{# Index grid page #}
{% extends "root.html" %}

{% block body %}
<nav id="index-grid">
  <img id="grid-logo" src="{{ 'img/logo-black.svg'|asseturl }}" alt="Tančící, plamenná Nyx">

  {% set images = this.attachments.images.all() %}
  {% set grid_images = images[:2] + [None] + images[2:] %}
  {% set grid_pages  = this.children %}
  {% for item in merged(grid_images, grid_pages, longest=True)|select %}
  {% if item.is_attachment %}
  <img src="{{ item|url }}">
  {% else %}
  <a href="{{ item|url }}">{{ item.title }}</a>
  {% endif %}
  {% endfor %}
</nav>
{% endblock body %}
{# vim:set filetype=html.jinja2: #}
