{# Generic static page #}
{% extends "root.html" %}

{% block title %}{{ this.title }} | {{ super() }}{% endblock title %}

{% block body %}
<header>
  <a id="logo" href="{{ '/'|url }}"><img src="{{ '/img/logo-black.svg'|asseturl }}"></a>
  <nav id="navigation-menu">
    {% for page in site.get("/").children %}
    <a href="{{ page|url }}">{{ page.title }}</a>
    {% endfor %}
  </nav>
</header>
<main>
  <h1>{{ this.title }}</h1>
{% block content %}{{ this.content }}{% endblock content %}
</main>
<footer>
  <nav id="social-links">
    {% for label, url in bag('contact.social').items() %}
    <a class="social-icon icon-{{ label|default('unknown')|lower }}" href="{{ url|url }}">{{ label }}</a>
    {% endfor %}
  </section>
</footer>
{% endblock body %}
{# vim:set filetype=html.jinja2: #}
