{% extends "page.html" %}

{% block content %}
<p>V naší nabídce vystoupení naleznete:</p>
<ul id="performance-toc">
  {% for item in this.content.toc %}
  <li><a href="#{{ item.anchor }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

{{ super() }}
{% endblock content %}

{# vim:set filetype=html.jinja2: #}
