{# Root meta-template for the entire website. Used to link assets and provide global metadata. #}
<!DOCTYPE html>
<html lang="{{ config.PROJECT.locale }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ config.PROJECT.name }}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/css/screen.css'|asseturl }}">
    <link rel="icon" media="screen and (prefers-color-scheme: dark)" type="image/png" href="{{ '/favicon-dark-bg.png'|asseturl }}">
    <link rel="icon" media="screen" type="image/png" href="{{ '/favicon-light-bg.png'|asseturl }}">

    <!-- Let browser know the website is mobile-friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
{# vim:set filetype=html.jinja2: #}
